@page "/learnBlazor/bindProp"
@using Tangy.Domain.Models

<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Summary</h3>
        <hr />

        Name: @product.Name
        <br />

        Active: @product.IsActive
        <br />

        Price: @product.Price
        <br />

        Property selected: @selectedProperty <br />
        @if (!string.IsNullOrWhiteSpace(selectedProperty))
        {
            <p> Property Value: @product.ProductProperties.FirstOrDefault(_ => _.Key == selectedProperty).Value </p>
        }
        <br />

        Product is: @(product.IsActive ? "Active" : "InActive")
        <br />
    </div>

    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground</h3>
        <hr />
        <div>
            Price:
            <input type="number" @bind-value="@product.Price" @bind-value:event="oninput" />
            <br />
        </div>

        <div>
            Active:
            <input type="checkbox" @bind-value="@product.IsActive" checked=@(product.IsActive?"checked":null) />
            <br />
        </div>

        <div>
            Product Properties:
            <select @bind=@selectedProperty>
                @foreach (var p in @product.ProductProperties)
                {
                    <option value="@p.Key">@p.Key</option>
                }
            </select>
        </div>
    </div>

    <div class="col-12 pt-4" >
        <h2 class="text-success">Product Table</h2>

        <table class="table table-striped">
            <tbody>
                @foreach(var p in _products)
                {
                    <tr>  
                        <td>
                            <input type="text" @bind-value=p.Name @bind-value:event="oninput"/> 
                        </td>
                        <td>
                            <input type="text" @bind-value=p.Price @bind-value:event="oninput"/> 
                        </td>
                        <td>
                            <input type="checkbox" @bind-value=p.IsActive checked=@(p.IsActive?"checked":null) /> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        <h2>Product Summary</h2>
        @foreach(var p in _products)
        {
            <p> @p.Name [@p.Price] @p.IsActive </p>
        }
    </div>
</div>


@code { }   